GOOGLE_MAPS_API_KEY=your_google_api_key_here
EJECUTAR_GOOGLE_MAPS=false
UMBRAL_ANALISIS_MIN=30
PENALIZACION_TRANSBORDO_MIN=5
MAX_EDAD_ETA_HORAS=24
MIN_OBSERVACIONES_HISTORICAS=5
RADIO_DEMANDA_M=20
ACTUALIZAR_DATOS_INEGI=false
ACTUALIZAR_RED_OSM=false
RETENCION_HISTORICO_DIAS=365
UMBRAL_CONSULTA_GOOGLE_MIN=60
